{% extends "layout.html" %}
{% load static %}
{% block title %}Guia 2{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-4">Guia #2</h1>
    <form method="post">
        {% csrf_token %}        
        <div class="form-group w-100">
            <label for="numero">Ingrese los datos:</label>
            <input type="text" class="form-control" name="input_data" id="numero" placeholder="Ejemplo: 1, 2, 5, 6">
        </div>            
    </form>
    <div class="container mt-5">
        <div class="row">
            <button type="button" id="calculate-button" class="btn btn-primary">Calcular</button>
        </div>
    </div>      
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert" id="error-message" style="display: none;"></div>
    </div>        
    <div class="container mt-5">
        <div class="row">
            <table id="result-table" class="tabla1 table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Parametros</th>
                        <th scope="col">Resultados</th>
                        <th scope="col">Redondeo</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Mediana muestral</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>                                                                                          
                    </tr>
                    <tr>
                        <th scope="row">Moda muestral</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>
                    <tr>
                        <th scope="row">Varianza muestral</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>                    
                    <tr>
                        <th scope="row">Desviación estándar muestral</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>   
                    <tr>
                        <th scope="row">Primer cuartil (Q1)</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>           
                    <tr>
                        <th scope="row">Tercer cuartil (Q3)</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>                                 
                    <tr>
                        <th scope="row">Coeficiente de variación</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>          
                    <tr>
                        <th scope="row">Media de datos agrupados</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>      
                    <tr>
                        <th scope="row"></th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>                               
                </tbody>
            </table>
        </div>
    </div>            
</div>

{% endblock %}