{% extends "layout.html" %}
{% load static %}
{% block title %}Estadistica{% endblock %}

{% block content%}
    <div id="contenedor" class="mt-5">
        <div id="excel-container">
            <table id="excel-table">
                <!-- Aquí se insertarán las filas y celdas -->
            </table>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <button type="button" id="send-button" class="btn btn-primary">Enviar Datos</button>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <table class="tabla1 table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Parametros</th>
                        <th scope="col"></th>
                        <th scope="col">Redondeo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">n° de datos</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>
                    <tr>
                        <th scope="row">V.maximo</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>
                    <tr>
                        <th scope="row">V.minimo</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>
                    <tr>
                        <th scope="row">Rango</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>
                    <tr>
                        <th scope="row">N° deinterva</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>
                    <tr>
                        <th scope="row">Amplitud</th>
                        <td>Esperando..</td>
                        <td>Esperando..</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <table class="tabla2 table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">k</th>
                        <th scope="col">L. inferior </th>
                        <th scope="col">L. superior</th>
                        <th scope="col">M. de Clases</th>
                        <th scope="col">L. frec. Abs</th>
                        <th scope="col">fec. Abs.acom</th>
                        <th scope="col">frec. Relativa</th>
                        <th scope="col">frec. Relat. Acom</th>
                        <th scope="col">frec. Porcent</th>
                        <th scope="col">frec. porc. Acom</th>
                    </tr>
                </thead>
                <tbody class="tabla-excell2">
                   
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}